$black:#000000
$blue:#16019E
$lightblue:#2B3FFE
$purple:#4E356E
$lighpurple:#535CA9
$white: #ffffff
*
    margin: 0px
    padding: none
    scroll-behavior: smooth
body
    font-family: Inter
.grid-container
    display: grid
    grid-template-columns: 25vw 1140px 25vw
    grid-template-rows: 10.5vh 0.4fr 1fr 1fr
    min-width: 0px
#navbar
    display: grid
    align-items: center
    grid-template-columns: 390px 1140px 390px
    grid-template-rows: 10.5vh
    grid-row: 1/2
    grid-column: 1/-1
    background-color: $white
#logo
    grid-row: 1
    grid-column: 2
    justify-items: start
    font-weight: bold
    font-size: 24px
#nav-link-container
    display: flex
    justify-content: flex-end
    grid-column: 2
    grid-row: 1
.nav-links
    width: 715px
    display: flex
    justify-content: space-between
    a
        text-decoration: none
        color: $black
        font-family: Inter
        font-size: 20px
#hero-image-slider
    display: grid
    grid-row: 2/3
    grid-column: 1/-1
    height: 66vh
    background-color: #666666
#hero-images
.Benchmark-info
    display: flex
    justify-content: space-between
    grid-column: 2
#Info-header
    font-weight: bold
    font-size: 34px
    margin-top: 9%
    margin-bottom: 2%
#Info-body
    width: 720px
    font-size: 20px
.Info-Image-container
    margin-top: 8vh
    width: 400px
    height: 400px
    background: #C4C4C4
// #Studentinfo-wrapper
//     display: grid
//     grid-column: 2
//     grid-row: 4
// .Studentinfo
//     display: flex
//     justify-content: space-between
//     align-items: center
//     background-color: #C4C4C4
//     height: 42vh
// #Studentinfo-container
//     margin-left: 2vw
//     font-weight: bold
//     font-size: 34px
// #Studentinfo-para
//     width: 60vh
//     margin-top: 2vh
//     font-weight: 500
//     font-size: 16px
//     margin-bottom: 5vh
// .Studentinfo-button
//     width: 15vw
//     height: 13vh
//     font-weight: bold
//     font-size: 14px
//     background-color: #666666
//     text-decoration: none
//     padding: 10px
//     color: $white
// .Studentimages
//     display: flex
//     flex-wrap: wrap
//     width: 69vh
//     height: 85%
//     margin-top: 2%
//     margin-right: 2vw
// .Studentimage1
//     margin-right: 10px
//     width: 120px
//     height: 120px
//     background-color: $white
// .E-Portal-info
//     display: flex
//     justify-content: space-between
//     height: 500px
//     grid-column: 2
// .E-portal-header
//     font-weight: bold
//     font-size: 34px
//     margin-top: 1%
//     margin-bottom: 2%
// .E-Info-body
//     width: 100vh
//     font-size: 20px
// #E-Image-container
//     margin-top: 9vh
//     width: 400px
//     height: 400px
//     background-color: #c4c4c4
